annotated-types==0.7.0
ansicolors==1.1.8
anthropic==0.78.0
awkward==2.8.3
awkward_cpp==46
backports.tarfile==1.2.0
backports.zstd==1.2.0
browsercookie==0.7.9
coffea==2025.3.0
correctionlib==2.7.0
cramjam==2.8.3
cssutils==2.9.0
Cython==3.2.4
dask==2025.3.0
dask-awkward==2025.5.0
dask-histogram==2025.2.0
dataframe-image==0.2.3
decaylanguage==0.18.6
distro==1.9.0
docstring_parser==0.17.0
dotenv==0.9.9
flatbuffers==24.12.23
futures==3.0.5
graphviz==0.21
h11==0.16.0
h5py==3.12.1
hepunits==2.3.5
html2image==2.0.4.3
httpcore==1.0.9
httpx==0.28.1
ImageIO==2.37.2
jiter==0.11.1
joblib==1.4.2
keyring==25.2.1
lark==1.2.2
langchain==1.0.5
langchain-core==1.0.4
langchain-text-splitters==1.0.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.42
libclang==18.1.1
llvmlite==0.44.0
lxml==5.1.0
matplotlib==3.10.3
more-itertools==10.2.0
namex==0.0.8
networkx==3.6.1
nlopt==2.10.0
numpy
openai==2.6.1
openpyxl==3.1.2
orjson==3.11.4
ormsgpack==1.12.0
pandas==2.2.3
pandoc-eqnos==2.5.0
pandoc-fignos==2.4.0
pandoc-secnos==2.2.2
pandoc-tablenos==2.3.0
pandoc-xnos==2.5.0
pandocfilters==1.5.1
papermill==2.6.0
particle==0.25.2
phasespace==1.10.3
plumbum==1.9.0
ply==3.11
protobuf==4.25.3
psutil==5.9.8
pyarrow==20.0.0
pycryptodome==3.20.0
pydantic==2.11.4
pydantic_core==2.33.2
pyhf==0.7.6
pyhepmc==2.15.1
PyMuPDF==1.26.6
pyoverleaf==0.1.4
PyQt5==5.15.9
PyQt5-sip==12.12.2
pyreadstat==1.2.8
python-dotenv==1.2.1
requests-toolbelt==1.0.0
scikit-image==0.26.0
scikit-learn==1.6.0
scikit-spatial==9.0.1
seaborn==0.13.2
six
tabula-py==2.10.0
tenacity==9.0.0
tensorflow-io-gcs-filesystem==0.37.1
TexSoup==0.3.1
texttable
thefuck==3.32
threadpoolctl==3.5.0
tifffile==2026.1.14
typing-inspection==0.4.0
typing_extensions==4.13.2
uproot==5.6.2
uv==0.9.6
vector==1.6.2
xxhash==3.6.0
zfit==0.25.0
zstandard==0.23.0

# Unpinned (were conda build-path installs; add pins if you need strict reproducibility)
absl-py
aiohttp
aiosignal
algopy
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asdf
asdf_standard
asdf_transform_schemas
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
bokeh
boost-histogram
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
colored
colorlog
comm
contourpy
cryptography
cycler
cytoolz
debugpy
decorator
defusedxml
Deprecated
dill
distributed
dm-tree
dotmap
entrypoints
et-xmlfile
exceptiongroup
executing
fonttools
fqdn
frozendict
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
idna
iminuit
importlib-metadata
importlib-resources
ipykernel
ipyopt
ipyparallel
ipython
ipywidgets
isoduration
jacobi
jaraco.classes
jaraco.context
jaraco.functools
jax
jaxlib==0.4.31
jedi
jeepney==0.8.0
Jinja2
jmespath
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
lazy_loader
locket
lz4
Markdown
markdown-it-py
MarkupSafe
mdurl
metakernel
mistune
ml-dtypes
msgpack
multidict
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numba
numdifftools
numexpr
oauthlib
opt-einsum
optree
ordered-set
overrides
packaging
parso
partd
patsy
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
portalocker
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
py-cpuinfo
pyarrow-hotfix
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
pyte
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scrapbook
SecretStorage
semantic-version
Send2Trash
sip
sniffio
sortedcontainers
soupsieve
stack-data
statsmodels
tables
tabulate
tblib
tensorboard
tensorboard-data-server
tensorflow
tensorflow-probability
tensorflow_estimator
termcolor
terminado
tf_keras
tinycss2
toml
tomli
toolz
tornado
tqdm
traitlets
types-python-dateutil
typing-utils
tzdata
uhi
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xyzservices
yarl
zfit_interface
zfit_physics
zict
zipp
